body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: mediumpurple;
    display: inline-block;

}

form {
    margin-bottom: 50px;
}

input {
    margin-right: 10px;
}

button {
    margin-left: 40px;
}